@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<EncuestaPreguntas>


<div class="Encuesta-titulo">
    <h1>Perfil del Inversor</h1>
</div>

@try
{
    @foreach (var mens in Model)
    {
        if (mens.MensajeRetorno.cod_mensaje == 100)
        {
            <div class="alert alert-danger">
                <strong>Atención!</strong>  @mens.MensajeRetorno.mensaje
            </div>
        }    
    
    }
    
}
catch { }



@using (Html.BeginForm("Resultado","Encuesta_Inversor"))
{
  
        int valor = 0;
            
        @foreach (var pregunta in Model)
        {
            if (pregunta.encuestaPreguntaID != null)
            {
                <div style="padding-top: 15px;padding-bottom: 32px;">
                     <b> <span class="Encuesta-pregunta">@pregunta.pregunta</span></b>
                </div>
                <div style="padding-bottom: 56px; padding-left: 30px;">
                       @foreach(var respuestas in @pregunta.encuestaRespuestas)
                       {
                          <div style="padding-bottom: 15px;">
                             <input type="@respuestas.TipoInput" name="@respuestas.NameInput" id="Valor_@valor" value="@respuestas.encuestaRespuestaId" style="margin-right: 16px;">
                            <span class="Encuesta-respuesta">@respuestas.Respuesta</span>
                             <br style="padding-bottom: 16px;" />
                          </div>
                       }      
                </div>

            }
            valor++;

        }

    <br />
    <br />
    <br />
    <br />

    @if (valor > 0)
    {
        <div class="row" style="padding-bottom: 48px;">
            <div class="col-lg-5">
                @Html.ActionLink("Volver", "Dashboard", "Home", new {}, new { @class = "btn btn-danger btn-lg" })
            </div>
            <div class="col-lg-5">
                <input type="submit" value="Confirmar Respuesta" class="btn btn-primary btn-lg" />
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info" style="width:100%;">
            <strong>Atención!</strong>  La encuesta aun no se encuentra disponible
            <a asp-area="" style="color:white;" class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Dashboard">Volver al Inicio</a>
        </div>
        
    }

}