@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<EncuestaPreguntas>

<style>
    .perfil-inversor-pregunta {
        font-family: Arial !important;
        font-weight: 700 !important;
        font-size: 24px !important;
        color: #231D19 !important;
    }

    .perfil-inversor-opcion {
        font-family: Arial !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        color: #231D19 !important;
    }

</style>

<div style="padding-top: 24px; padding-bottom: 32px;">
    <h1>perfil del inversor</h1>
</div>

@try
{
    @foreach (var mens in Model)
    {
        if (mens.MensajeRetorno.cod_mensaje == 100)
        {
            <div class="alert alert-danger">
                <strong>Atención!</strong>  @mens.MensajeRetorno.mensaje
            </div>
        }    
    
    }
    
}
catch { }



@using (Html.BeginForm("Resultado","Encuesta_Inversor"))
{
  
        int valor = 0;
            
        @foreach (var pregunta in Model)
        {
            if (pregunta.encuestaPreguntaID != null)
            {
              <div style="padding-top: 15px; padding-bottom: 32px;color:white !important;">
                <b> <span style=" color:white !important;font-family:Calibri;">@pregunta.pregunta</span></b>
              </div>
              <div style="padding-bottom: 56px; padding-left: 30px;">
                       @foreach(var respuestas in @pregunta.encuestaRespuestas)
                       {
                          <div style="padding-bottom: 15px;">
                             <input type="@respuestas.TipoInput" name="@respuestas.NameInput" id="Valor_@valor" value="@respuestas.encuestaRespuestaId" style="margin-right: 16px;">
                            <span style=" color:white !important;font-family:Calibri;">@respuestas.Respuesta</span>
                             <br style="padding-bottom: 16px;" />
                          </div>
                       }      
              </div>    

            }
       
        }

        <br />
        <br />
        <br />
        <br />

        <div class="row" style="padding-bottom: 48px;">
            <div class="col-sm-5">
                @Html.ActionLink("volver", "Inicio", "Home", new { }, new { @class = "btn btn-default" })
            </div>
            <div class="col-sm-2">
                <input type="submit" value="confirmar respuesta" class="btn btn-success" />
            </div>
        </div>
}